<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a19b158346.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Document</title>
</head>
<body>

    <section class="sfondoVerde"></section>

        <div id="app">

            <section class="sfondoSabbia">

                <div class="container d-flex">
                    <div class="containerLista d-flex flex-column">

                        <div class="navProfilo d-flex justify-content-between">
                            <div class="profilo p-1">
                                <img src="img/avatar_io.jpg" alt="" style="border-radius: 50%; aspect-ratio: auto; width: 50px;">
                                <span>Sofia</span>
                            </div>

                            <div class="barraIcone p-md-1">
                                <i class="fa-solid fa-circle-notch" style="color: gray;"></i>
                                <i class="fa-solid fa-message" style="color: gray;"></i>
                                <i class="fa-solid fa-ellipsis-vertical" style="color: gray;"></i>
                            </div>
                        </div>

                        <div class="notifiche d-flex">

                            <div class="bgBell d-flex">
                                <i class="fa-solid fa-bell-slash" id="notificaIcon"></i>
                            </div>

                            <div class="infoNotifiche d-flex flex-column ps-2">
                                <span><strong><small>Ricevi notifiche di nuovi messaggi</small></strong></span>
                                <small><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" style="color:black;">Attiva notifiche descktop</a></small>
                            </div>

                        </div>

                        <div class="barraRicerca d-flex">
                            <button class="btn" id="cerca"><i class="fa-solid fa-magnifying-glass" style="color: lightgray;"></i></button>
                            <input class="form-control" type="text" placeholder="Cerca o inizia una nuova chat" v-model="cercaChat">
                        </div>
                        
                        <div class="containerContattiWapp overflow-auto flex-grow-1 list-group list-group-flush d-flex flex-column">

                            <div class="list-group-item d-flex justify-content-between" @click="utenteSelezionato = contatti" v-for="(contatti, i) in getFilteredListaUtenti()" :key="i + contatti.name">

                                <div class="posizioneContatti d-flex justify-content-between ps-2">
                                    <img :src="`img/avatar${contatti.avatar}.jpg`" alt="" style="border-radius: 50%; aspect-ratio: auto; width: 50px;">
                                    <div class="d-flex flex-column">
                                        <strong>{{contatti.name}}</strong>
                                        <span><small>Ultimo messagio inviato</small></span>
                                    </div>
                                </div>
                                <div class="time d-flex pe-2">
                                    12:00
                                </div>
                                
                            </div>

                        </div>

                    </div>
                        <div class="sezioneMessaggi d-flex flex-column justify-content-between">
                            <div class="navContatto d-flex justify-content-between p-1">

                                <div class="posizioneContattiChat d-flex justify-content-between ps-2">
                                    <img :src="`img/avatar${utenteSelezionato.avatar}.jpg`" alt="" style="border-radius: 50%; aspect-ratio: auto; width: 50px;">
                                    <div class="d-flex flex-column">
                                        <strong>{{utenteSelezionato.name}}</strong>
                                        <span><small>Ultimo accesso oggi alle 12:00</small></span>
                                    </div>                   
                                    
                                </div>

                                <div class="barraIcone p-md-1 d-flex align-content-center" style="width: 100px;">
                                    <i class="fa-solid fa-magnifying-glass" style="color: gray;"></i>
                                    <i class="fa-solid fa-paperclip" style="color: gray;"></i>
                                    <i class="fa-solid fa-ellipsis-vertical" style="color: gray;"></i>
                                </div>

                            </div>

                            <div class="messaggi d-flex flex-column p-3 overflow-auto flex-grow-1" style="height: 100%;">

                                <div class="boxMess" :class="{'mio-mess' : messageObj.status === 'sent'}" v-for="messageObj in utenteSelezionato.messages">
                                    {{messageObj.message}}
                                </div>

                            </div>

                            <div class="navChat p-2 d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-face-smile p-1" style="color: gray;"></i>
                                <input class="form-control" type="text" placeholder="Scrivi un messagio"
                                v-model="newText" 
                                @keyup.enter="invioMessaggio">
                                <i class="fa-solid fa-microphone p-1" style="color: gray;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>


    <script src="/js/main.js" type="module"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
</body>
</html> 